
/*
    DEFAULT BODY STYLES
*/
body {
    background: #fdfdfd;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.625;
    color: #4b4b4b;
    margin: 0;
    padding: 500px 0 0 0;
    -webkit-font-smoothing: antialiased;
    
}

.wrapper {
    width: 90%;
    margin: 10px auto;
}
@media screen and (min-width: 768px) {
    .wrapper {
        width: 650px;
    }
}

section.wrapper {
	margin-top: 40px;
	margin-bottom: 100px;
	position: relative;
}



/*
    COUPLE OF TYPOGRAPHY PIECES WITHIN POST
*/

h1 {
    font: bold 1.8em/1.3 "Helvetica Neue", Arial, sans-serif;
    margin: 0 0 .4725em;
    color: #2a3744;
    letter-spacing: -.04em;
}
h2 {
    font: bold 1.4em/1.3 "Helvetica Neue", Arial, sans-serif;
    margin: 0 0 .8em;
    color: #2a3744;
    letter-spacing: -.04em;
    clear: both;
}

h2, h3, h4 {
	margin-top: 50px;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 1.75em;
    }
}

a {
    color: #136fd2;
    text-decoration: none;
}

a:hover {
    color: #136fd2;
    text-decoration: underline;
}



/*
    NOW FOR THE NAVIGATION BAR
*/

nav {
    background: #2a3744;
    width: 100%;
    padding: .5em 0;
    position: fixed;
	top: 0;
	z-index: 1
}

nav .global-nav__header-tuts-logo-link img {
	width: 70px;
	position: relative;
	top: 5px;
	margin-right: 20px;
}

span.page-footer__tuts-brand-text {
	color: #c0ccdb;
}


/* translation links */
span.translation {
	cursor: pointer;
	background: #eaeaea;
	padding: .4em .8em;
	margin: 0 .4em .7em 0;
	border-radius: 2px;
	font-weight: bold;
	display: inline-block;
	position: relative;
}
span.translation:hover,
span.selected {
	background: #82b440;
}

span.translation:before {
	content: "";
	height: 11px;
	width: 16px;
	display: block;
	opacity: 0;
	background: red;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.15s ease-in;
}

span.translation:hover:before,
span.selected:before {
	opacity: 1;
	top: -5px;
	left: -5px;
}

/* flags */
span.translation_en:before { 	background: url(flags/gb.gif) no-repeat 0 0;	}
span.translation_es:before { 	background: url(flags/es.gif) no-repeat 0 0;	}
span.translation_fr:before { 	background: url(flags/fr.gif) no-repeat 0 0;	}
span.translation_de:before { 	background: url(flags/de.gif) no-repeat 0 0;	}
span.translation_hu:before { 	background: url(flags/hu.gif) no-repeat 0 0;	}
span.translation_tr:before { 	background: url(flags/tr.gif) no-repeat 0 0;	}
span.translation_id:before { 	background: url(flags/id.gif) no-repeat 0 0;	}
span.translation_pt:before { 	background: url(flags/pt.gif) no-repeat 0 0;	}
span.translation_pl:before { 	background: url(flags/pl.gif) no-repeat 0 0;	}
span.translation_ru:before { 	background: url(flags/ru.gif) no-repeat 0 0;	}
span.translation_zh-hant:before { 	background: url(flags/cn.gif) no-repeat 0 0;	}
span.translation_zh-hans:before { 	background: url(flags/cn.gif) no-repeat 0 0;	}


/* label */
.jvectormap-label { 
	border: none;
	background: #82b440;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-radius: 2px;
	padding: .4em .8em;
	z-index: 2
}

footer {
	font-size: .8em;
	padding: 100px 0 0 0;
}

@media screen and (min-width: 1200px) {

	nav {
		left: 0;
		top: 0;
		bottom: 0;
		width: 650px;
		padding: 40px 50px;
	}
	
	body {
		padding: 0 0 0 800px;
	}
	
	.wrapper {
		width: auto;
		margin: 0;
		padding-right: 50px;
	}

}