
/*
    DEFAULT BODY STYLES
*/
body {
    background: #fdfdfd;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.625;
    color: #4b4b4b;
    margin: 0;
    padding: 500px 0 0 0;
    -webkit-font-smoothing: antialiased;
    
}

.wrapper {
    width: 90%;
    margin: 10px auto;
	
}
@media screen and (min-width: 768px) {
    .wrapper {
        width: 650px;
    }
}

section.wrapper {
	margin-top: 40px;
	margin-bottom: 100px;
	position: relative;
}



/*
    COUPLE OF TYPOGRAPHY PIECES WITHIN POST
*/

h1 {
    font: 700 1.8em/1.3 "Roboto", "Helvetica Neue", Arial, sans-serif;
    margin: 0 0 .4725em;
    color: #2a3744;
    letter-spacing: -.04em;
}
h2 {
    font: 700 1.4em/1.3 "Roboto", "Helvetica Neue", Arial, sans-serif;
    margin: 0 0 .8em;
    color: #2a3744;
    letter-spacing: -.04em;
    clear: both;
}

h2, h3, h4 {
	margin-top: 50px;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 1.75em;
    }
}

a {
    color: #136fd2;
    text-decoration: underline;
}

a:hover {
    color: #136fd2;
    text-decoration: none;
}



/*
    NOW FOR THE NAVIGATION BAR
*/

nav {
    background: #212a34;
    width: 100%;
    padding: .5em 0;
    position: fixed;
	top: 0;
	z-index: 1;
	
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

nav .global-nav__header-tuts-logo-link img {
	width: 200px;
	position: relative;
	top: 5px;
	margin-right: 20px;
}

span.page-footer__tuts-brand-text {
	color: #c0ccdb;
}


/* translation links */
span.translation {
	cursor: pointer;
	background: #eaeaea;
	padding: .4em .8em;
	margin: 0 .4em .7em 0;
	border-radius: 2px;
	font-weight: bold;
	display: inline-block;
	position: relative;
	font-size: 16px;
}
span.translation:hover,
span.selected {
	background: #82b440;
}

span.translation:before {
	content: attr(data-nativelang);
	font-size: 13px;
	padding: 0 5px;
	height: 2em;
	line-height: 2;
	display: block;
	opacity: 0;
	background: #2a3744;
	color: #c0ccdb;
	position: absolute;
	top: 0;
	left: -1em;
	border-radius: 2px;
}

span.translation:hover:before,
span.selected:before {
	opacity: 1;
	top: -1em;
	-webkit-animation: fadeInUp .5s;
    animation: fadeInUp .5s;
}


/* label */
.jvectormap-label { 
	border: none;
	background: #82b440;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-radius: 2px;
	padding: .4em .8em;
	z-index: 2
}

footer {
	font-size: .8em;
	padding: 100px 0 0 0;
}

path {
		-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

@media screen and (min-width: 1200px) {

	nav {
		left: 0;
		top: 0;
		bottom: 0;
		width: 50%;
		padding: 40px 5%;
	}
	
	body {
		padding: 0 0 0 60%;
	}
	
	.wrapper {
		width: auto;
		margin: 0;
	}
	
	section.wrapper {
		padding: 0 10%;
	}
	
	#world-map {
		margin-top: 100px;
	}

}